:root {
    --color-beige:#f6f5ee;
    --color-font-black: #333;
    --color-font-light-black: #555;
    --color-font-green: #669900;
    --temp-border :solid 0px black;
    --font-family : normal Avenir, Arial, georgia;
}

* {
    margin: 0;
  
    padding: 0;
    color:var(--color-font-black);
    font-family: var(--font-family);
}
header{
    border-top: solid 2px black;
    background: var(--color-beige);
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
header .head-wrap .head-wrap-inner .search-btn{
    position: absolute;
    top:10px;
    right: 40px;
    background: white;
    border: solid 1px gray;
    border-radius: 5px;
    width:34px;
    height: 34px;
}
header .head-wrap .head-wrap-inner .search-btn img{
    position: absolute;
    top: 7px;
    left: 7px;
}
header .head-wrap{

    border:var( --temp-border);
    height: 120px;
    width: 1100px;
   
}

header .head-wrap .head-wrap-inner{
    height: 120px;
    width: 1100px;
    position: relative;
    border:var( --temp-border);
}
header .head-wrap .head-wrap-inner .head-logo{
    position: absolute;
    top:20px;
    width:75px;
    height:75px;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav{
    position: absolute;
    left:552px;
    top:21px;

    

}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul{
    list-style: none;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul li{
    float: left;
    color: var( --color-font-light-black);
    font-size: 13px;
    text-align: center;
    height: 20px;
  
    border:var( --temp-border);

}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul li a{
    text-decoration: none;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul li a:hover{
    text-decoration: underline;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav01
{
    width:76px;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav02
{
    width:106px;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav03
{
    
    width:181px;
}
header .head-wrap .head-wrap-inner .head-menu-top-nav ul .top-nav04
{
  
    width:97px;
}
header .head-wrap-sub{
    position: absolute;
    top:60px;
    width: 1100px;
    height: 66px;
    border:var( --temp-border);
}
header .head-wrap-sub{
    display: flex;
    justify-content: flex-end;
    

}
header .head-wrap-sub ul{
   list-style: none;
   width: 737px;
    display: flex;
    justify-content:space-between;
 
    border:var( --temp-border);
   
}
header .head-wrap-sub ul li{
    text-align: center;
    flex: auto;
    
}
header .head-wrap-sub ul li a{
    text-decoration: none;
    display: block;

    border:var( --temp-border);
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 10px;
    height: 66px;
} 
header .head-wrap-sub ul li a:hover{
    text-decoration: underline;
    background-color: #2c2a29;
    color:var( --color-font-green);
}
